{
  "presets": [
    ["env", {
      "debug": false,
      "useBuiltIns": true,
      "targets": {
        "node": "current",
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-es2015-arrow-functions"
  ]
}
